/* You can add global styles to this file, and also import other style files */
.row{
    
    display: flex;
    flex-direction : row;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 250px;
    height: auto;
    text-wrap: wrap;
    margin: 10px;
} 


h1{
    text-align: center;
}